@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #171717;
  color: white;
}

/* Премиум скролбар */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D7FB00;
}

/* Плавни преходи */
* {
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}